.wrapper1 {
    width: 100vw;
    height: 100vh;
    border-radius: 0%;
}

.calculateTable{
  margin-top: 28px;
  margin-right: 10%;
  margin-left: 25%;
  border-radius: 0%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.card-header1 {
  height: 49px;
  text-align: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: #505050;
  padding-top: 10px;
  padding-left: 0px;
}


.card-header{
  height: 49px;
  margin-left: 0%;
  background: #505050;
  }
 
.card-header p{
  line-height: 49px;  
}

.card-container {
  padding: 20px;
}

.Upload-files-lines-item {
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 50px;
  height: 50px;
}

ul.Upload-file-list {
  padding-left: 10px;
}

.Upload-file-list li:after {
  border-bottom: 1px solid #747474;
  content: '';
  display: block;
  width: 100%;
  text-align: center;
  margin: 0px auto;    
}

.btn-add-file {
  float: right;
  width: 40%;
  margin-top: 8px;
  height: 35px;
  line-height: 22px;
  border-radius: 5px !important;
  background: #8fbe00;
}

.fa.more-action {
  float: right;
}

.Upload-files-lines-item .fa-ellipsis-v {
  padding-top: 16px;
  padding-right: 9px;
  font-size: 22px;
  color: #5d5d5d;
  float: right;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.calculateTable1{
margin-top: 20px;
margin-right: 10%;
margin-left: 25%;
background: white;

border:solid;

}

.calculateTable{
  margin-right: 10%;
  margin-left: 25%;
  background: white;

  }

  
.tableCalculos{
  margin-top: 20px;
  margin-right: 10%;
  margin-left: 25%;
  background: white;
  border-radius: 0%;
  border: solid;
  }


.inputFile{
  margin-left: 6%;
}

.t{
  margin-left: 10%;
  border: #505050 1 solid;
}

.t1{
  float:left;
}

.t2{
  float: right;
  margin-right: 5%;
}
.tUf{
  margin-left: 0%;
}

.tab{
  color: white;
  width: 30%;
  background-color: #505050;
  text-transform: uppercase;
  font-size: 1.3em;
}

.tab:hover {
  background-color: #8fbe00;
  color: white;
  border-radius: 0%;
 
}

.h4{
  color: white;
  margin-left: 350px;
}

.nav1{
  margin-left: 0%;
  padding-left: 0%;
}

