.captionf{
    text-align: center;
    background-color: #505050;
    color: white;
    width: 308px;
    padding: 0;
    height: 35px;
    margin-bottom: 0%;
}

.captionp{
    text-align: center;
    background-color: #505050;
    color: white;
    width: 311px;
    padding: 0;
    margin-bottom: 0%;
    height: 35px;
}

.captiong{
    text-align: center;
    background-color: #505050;
    color: white;
    width: 100%;
    padding: 0;
    height: 35px;
    margin-bottom: 0%;
}

.captionuf{
    text-align: center;
    background-color: #505050;
    color: white;
    width: 100%;
    padding: 0;
    margin-bottom: 0%;
    height: 35px;
}

.tabla{
    width: 36%;   
    background: white;
    margin-left: 30%;
    margin-bottom: 10%;
    border: solid #3e3e3e;
}

.tablaUf{
    text-align: center;
    background-color: #505050;
    color: white;
}

.t4{
    width: 287px;
}

.tablafull{
    margin-bottom: 2%;
    width: 39.5%;
    background: white;
    border: solid;
}

.headertable{
    padding: 0%;
    margin: 0%;
}

.tablapyme{
    margin-bottom: 5%;
    width: 317px;
    background: white;
    border: solid;
}

.headerTable{
    margin-bottom: 0px;
}

.btnCalculos{
    color: white;
    width: 100%;
    margin-top: 8px;
    height: 35px;
    line-height: 22px;
    background: #7fc300;
    margin-bottom: 50px;
}


.tablaButton{
    width: 60%;   
    background: white;
    margin-left: 18%;
    margin-bottom: 10%;
    height: 60%;
    margin-top: 4%;
}

.table {
    margin-bottom: 0px;
}

.titleCalculo{
    align-items: center;
    color: #505050;
    font-size: 1.7em;
    margin-left: 47%;
    
}

.textCalculo{
    color:#ababab;
    text-align: center;
    margin-left: 60px;
}

.tablaMeta{
    margin-bottom: 5%;
    width: 317px;
    background: white;
    border: solid;
    margin-left: 30%;
}

.react-bs-table-tool-bar {
    height: 35px;
    float: right;
}