.caption{
    text-align: center;
    background-color: #505050;
    color: white;
    width: 316px;
}

.tabla{
    width: 40%;
   
    background: white;
    margin-left: 30%;
    margin-bottom: 10%;
}

.tablaUf{
    text-align: center;
    background-color: #505050;
    color: white;
}

.t4{
    width: 287px;
}

.tablafull{
    margin-bottom: 2%;
    width: 39.5%;
    background: white;
    border: solid;
}

.headertable{
    padding: 0%;
    margin: 0%;
}

.tablapyme{
    margin-bottom: 5%;
    width: 317px;
    background: white;
    border: solid;
}

.headerTable{
    margin-bottom: 0px;
}