.caption{
    text-align: center;
    background-color: #505050;
    color: white;
}

.tabla{
    width: 40%;
    border: 1px solid #505050;
}

.tablaUf{
    text-align: center;
    background-color: #505050;
    color: white;
}

.t4{
    width: 287px;
}