.modal-container {
    position: relative;
  }
  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }

.btnCalculos{
    color: white;
    width: 60%;
    margin-top: 10px;
    height: 80px;
    line-height: 22px;
    background: #8fbe00;
    margin-bottom: 50px;
    margin-left: 30%;
}

.modal1{
  width: 1000px;
}

.modal-content{
  width: 1002px;

}

.modal-dialog{
  margin-left: 220px;
}