.modal-container {
    position: relative;
  }
  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }

.btnCalculos{
    color: white;
    width: 60%;
    margin-top: 10px;
    height: 80px;
    line-height: 22px;
    background: #8fbe00;
    margin-bottom: 50px;
    margin-left: 20%;
    text-align: center;
    padding-bottom: 1px;
    padding-top: 1px;
}

.modal1{
  width: 1000px;
}

.modal-content{
  width: 1002px;

}

.modal-dialog{
  margin-left: 220px;
}

.iconPlay{
  font-size: 2.5em;
  text-align: center;
}

.modalResultado{
    width: 1000px;
    height: 419px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;   
}

.center{
 text-align: center;
 font-size: 1.5em;
}

.checkResultado{
 margin-left: 37%;
}

.headers{
  background-color: #959ca1;
  
}

.tablaResultadoComision{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border: 0.5px solid #959ca1;
}

.modalHeader{
  border-bottom: 0;
}

.modalFooter{
  border-top: 0;
  
}
