.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.card-header {
    height: 49px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #505050;
}

.card-header p{
    line-height: 49px;
    text-transform: uppercase;
    font-size: 1.3em;
}

.card-container {
    padding: 20px;
}

.Upload-files-lines-item {
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 50px;
    height: 50px;
}

ul.Upload-file-list {
    padding-left: 10px;
}

.Upload-file-list li:after {
    border-bottom: 1px solid #747474;
    content: '';
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px auto;    
}

.btn-add-file {
    float: right;
    width: 40%;
    margin-top: 8px;
    height: 35px;
    line-height: 22px;
    border-radius: 5px !important;
    background: #7fc300;
}

.fa.more-action {
    float: right;
}

.Upload-files-lines-item .fa-ellipsis-v {
    padding-top: 16px;
    padding-right: 9px;
    font-size: 22px;
    color: #5d5d5d;
    float: right;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.calculateTable{
  margin-top: 20px;
  margin-right: 10%;
  margin-left: 25%;
  background: white;
  border-radius: 4%;
}

.inputFile{
    margin-left: 6%;
}

.p{
    color: white;
}

