@media all {
    .Login {
      background-image: url("./../../img/fondoVerde.jpeg");
      background-repeat:no-repeat;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      background-position:center;
      height:112.4vh !important;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      
    }

    .textBox{
      border-radius: 2em;
    }

    .button{
      border-radius: 2em;
    }

    .logo2 {
        height: 90px;
        margin-left: 35%;
      }
    
      .h3{
        height: 90px;
        margin-left: 40%;
        color: white;
      }

    .l{
      margin-left: 36%;
      margin-right: 30%;
      color: white;
    }
    
      
  }