
    .Login {
      background-image: url("./../../img/fondoVerde.jpeg");
     
      background-position:center;
      /* height: 100%; */
      min-height: -webkit-fill-available;
    }
  
    .Login form {
      margin-left: auto;
      margin-right: auto;
      max-width: 320px;
      padding: 20px;
      
    }

    .textBox{
      border-radius: 2em;
    }

    .button{
      border-radius: 2em;
    }

    .logo2 
    { 
        height: 90px;    
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .divImg
    {
      padding-top: 5%;
    }

    
      .h3
      {
        height: 40px;       
        color: white;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

    .l{
      margin-left: 36%;
      margin-right: 30%;
      color: white;
    }
    
      
