
    .Login {
      background-image: url("./../../img/fondoVerde.jpeg");
     
      background-position:center;
      /* height: 100%; */
      min-height: -webkit-fill-available;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      padding: 20px;
      
    }

    .textBox{
      border-radius: 2em;
    }

    .button{
      border-radius: 2em;
    }

    .logo2 {
        margin-top: 10%;
        height: 90px;
        margin-left: 35%;
      }
    
      .h3{
        height: 90px;
        margin-left: 40%;
        color: white;
      }

    .l{
      margin-left: 36%;
      margin-right: 30%;
      color: white;
    }
    
      
